.dataTables_wrapper.dt-bootstrap .dataTables_paginate .pagination .paginate_button.active a, .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button.active a {
	border-color: #2d353c;
	background: #2d353c;
	color: #fff;
}
.btn-success {
    color: #fff;
    background-color: #2d353c;
    border-color: #2d353c;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.btn-excel {
	color: #fff;
	background-color: #2ac281;
	border-color: #2ac281;
	-webkit-box-shadow: 0;
	box-shadow: 0;
	
}