.dataTables_wrapper.dt-bootstrap .dataTables_paginate .pagination .paginate_button.active a, .dataTables_wrapper.dt-bootstrap4 .dataTables_paginate .pagination .paginate_button.active a {
	border-color: #2d353c;
	background: #2d353c;
	color: #fff;
}